*{
  --ff-main: Roboto, sans-serif;
  --text-color: #fff;
  --text-color-black: #000;
  --text-color-accent: orange;
  --border-radius: 5px;
  --border: 1px solid #a0a0a0;
  --placeholder-color: #808080;
}